<!-- form handling -->
<form action="/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Password</label>
            <input type="password" name="password" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="title" class="text-light">Title</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="title" value="Mr">
                <label for="radio-2" class="radio-label">Mr</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="title" value="Mrs">
                <label for="radio-3" class="radio-label">Mrs</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="title" value="Miss">
                <label for="radio-4" class="radio-label">Miss</label>
            </div>
        </div>

        <div class="form-group">
            <label for="birthdate" class="text-light date-label">Birth Date</label>
            <input type="date" id="birthdate" name="birthdate" placeholder="20/10/1997">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>